.tags-container{
    display: flex;
    flex-direction: column;
    gap:30px;
    padding:0 20px;
    position: sticky;
    top:50px;
}
.tags-container .filter-icon{
    font-size: 2.3em;
}

.tags {
    display: flex;
    flex-direction: column;
    gap:10px;
}
.tags .tags-content{
    display: flex;
    flex-direction: column;
    gap: 7px;
}
.tags .tags-content a{
   line-height: 1.6;
   color:black;
   text-decoration: underline;
   transition: all .4s;
}
.tags .tags-content a:hover{
   color:var(--secondary);
}


/* **********MEDIA QUERIES******** */
 @media (max-width:550px){
     .tags-container .filter-icon{
            display: none;
        }
  }