.contact-me{
  width: 70%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  color: var(--third);
  border: 5px solid var(--secondary);
  padding: 20px;
  gap: 10px;
}

.contact-me .form-page .for{
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 10px;
}

.contact-me .form-page .for .form_group{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.contact-me .form-page .for .form_group input{
  width: 85%;
  background-color: lightgray;
  border: none;
  height: 1.7rem;
  color: var(--third);
}

.contact-me .form-page .for .btn{
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin: 0 auto;
  background-color: var(--secondary);
  color: var(--primary);
 border: none;
}