/** @format */

.partners-container {
  margin: 20px auto;
  width: 95%;
}
.partners-container h1 {
  text-align: center;
  color: var(--secondary);
}

.partner-wrapper {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
.partners {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.partners img {
  border-radius: 5px;
  width: 100px;
}

@media (max-width: 750px) {
  .partners {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 611px) {
  .partners-container {
    margin: 10px auto;
    width: 100%;
  }
}

@media (max-width: 470px) {
  .partners {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
}

@media (max-width: 445px) {
  .partners {
    width: 150px;
  }
}
@media (max-width: 339px) {
  .partners {
    width: 250px;
  }
}
@media (max-width: 233px) {
  .partners {
    width: 210px;
  }
}
